<header class="header-library">
  <section>
    <div class="header-library__content container">
      <div class="header-library__logo">
        <a class="header-library__logo-link" href="./index.html">
          <div class="header-logoWrapper">
            <img src="/src/images/HeaderLogo.png" alt="Logo" width="420" height="auto">
        </div>
        </a>
      </div>
      <div class="header-box-list">
        <ul class="header-list">
          <li class="header-item">
            <a href="/src/index.html">Home</a>
          </li>
        </ul>
          <ul class="header-list-2">
          <li class="header-item-isActive">
            <a href="/src/library.html">My library</a>
          </li>
        </ul>
      </div>
    </div>
    <button class="header-darkmode-btn" type="button"></button>
    <div class="header-library__button-section">
      <ul class="header-library__button-list">
        <li>
          <button
            class="header-library__button-list-item button-active"
            type="button"
            id="watched-btn"
          >
            WATCHED
          </button>
        </li>
        <li>
          <button class="header-library__button-list-item" type="button" id="queue-btn">
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </section>
</header>
