<header class="header">
  <nav class="header-nav container">
    <a href="index.html">
      <div class="header-logoWrapper">
        <img src="/src/images/HeaderLogo.png" alt="Logo">
      </div>
    </a>
    <div class="header-box-list">
      <div class="header-lists-container">
        <ul class="header-list">
          <li class="header-item header-item-isActive">
            <a href="/src/index.html">Home</a>
          </li>
        </ul>
        <ul class="header-list-2">
          <li class="header-item">
            <a href="/src/library.html">My library</a>
          </li>
        </ul>
      </div>
      <div class="header-logobirds">
        <img class="header-birds" src="/src/images/birds.png" alt="motive">
      </div>
    </div>
  </nav>
  <button class="header-darkmode-btn" type="button"></button>
  <form action="" class="header-form">
    <button class="header-btn1" type="submit">
      <svg class="header-icon" aria-hidden="true">
        <use href="/src/images/icon.svg#icon-search"></use>
      </svg>
      <input type="text" class="header-input" placeholder="Movie search" />
    </button>
    <div class="no-results">No results found</div>
  </form>
</header>
<section class="movie-collection container"></section>