<header class="headerlibrary">
  <nav class="headerlibrary-nav container">
      <div class="headerlibrary-logoWrapper">
        <a href="index.html" class="headerlibrary-logoLink">
          <img src="/src/images/HeaderLogo.png" alt="Logo">
        </a>
      </div>
    <div class="headerlibrary-box-list">
      <div class="headerlibrary-lists-container">
        <ul class="headerlibrary-list">
          <li class="headerlibrary-item">
            <a href="/src/index.html">Home</a>
          </li>
        </ul>
        <ul class="headerlibrary-list-2">
          <li class="headerlibrary-item headerlibrary-item-isActive">
            <a href="/src/library.html">My library</a>
          </li>
        </ul>
      </div>
      <div class="headerlibrary-logobirds">
        <img class="headerlibrary-pigs" src="/src/images/pig.png" alt="motive">
      </div>
    </div>
  </nav>
  <button class="header-darkmode-btn" type="button"></button>
  <div class="headerlibrary-button-section">
    <ul class="headerlibrary-button-list">
      <li>
        <button
          class="headerlibrary-button-list-item button-active"
          type="button"
          id="watched-btn"
        >
          WATCHED
        </button>
      </li>
      <li>
        <button class="headerlibrary-button-list-item" type="button" id="queue-btn">
          QUEUE
        </button>
      </li>
    </ul>
  </div>
</header>
<section class="movie-collection container"></section>