
.headerlibrary {
  background-image: url(/src/images/phone/home-header-phone.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 230px;

  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
  }

  &-box-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &-lists-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
  }
  
  &-list,
  &-list-2 {
    color: $font-color-primary;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    
    &:hover {
      color: #ff001b;
    }
  }

  &-item {
    &-isActive {
      border-bottom: 3px solid $accent-color-underline;
    }
  }

  &-logobirds {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }
  &-logoLink {
    z-index: 1;
  }
  &-logoWrapper {
    width: 200px;
    z-index: 0;
  }
  &-form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
  }
    &-pigs {
      display: none;
      z-index: 0;
    }
 
  .headerlibrary-btn1 {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s;
    outline: none;
    border: none;
  }

  .headerlibrary-btn1:hover {
    background-color: #800000;
  }

  .headerlibrary-icon {
    width: 25px;
    height: 25px;
    stroke: $font-color-primary;
    fill: transparent;
  }

  .headerlibrary-input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 260px;
    color: $font-color-primary;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.398) 54%, rgba(0, 0, 0, 1) 100%);
    border-radius: 4px;
    padding: 5px;
  }

  .headerlibrary-input::placeholder {
    color: #999;
  }
}


@media (min-width: 450px) and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .headerlibrary {
    background-image: url(/src/images/phone/home-header-phone@2x.png);
  }
}

@media (min-width: 768px) {
  .headerlibrary {
    background-image: url(/src/images/tablet/home-header-tablet.png);
    height: 216px;

    &-lists-container {
      gap: 30px;
      transform: translateX(-110px);
    }

    &-box-list {
      margin-top: -70px;
      gap: 30px;
      margin-right: 0px;
      align-items: end;
    }

    &-logoWrapper {
      width: 220px;
    }
    &-pigs {
      display: flex;
      width: 200px;
    }
    &-form {
      display: flex;
      top: -30px;
    }

  }

  .headerlibrary-list {
    font-size: 12px;
    line-height: 18px;
  }

  .headerlibrary-list-2 {
    font-size: 12px;
    line-height: 18px;
  }

  .headerlibrary-input {
    width: 316px;
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
    .headerlibrary {
    background-image: url(/src/images/tablet/home-header-tablet@2x.png);
  }
  
}
//<-------------Desktop------------->

@media (min-width: 1280px) {
  .headerlibrary {
    background-image: url(/src/images/desktop/home-header-desktop.png);
    background-size: cover;
    &-lists-container {
      gap: 30px;
      transform: translateX(0px);
    }
    &-box-list {
      margin-top: -90px;
      gap: 50px;
      margin-right: 100px;
    }
    &-logobirds {
      display: flex;
      justify-content: space-between;
      margin-top: -100px;
      margin-right: -130px;
      z-index: 0;
    }
    &-pigs {
      width: 200px;
      margin-top: 20px;
    }
    &-form {
      display: flex;
      top: -100px;
    }
    }
    .headerlibrary-form {
      top: -50px;
    }
    
    .headerlibrary-list {
      font-size: 16px; /* Missing value fixed */
      line-height: 20px;
    }
    
    .headerlibrary-list-2 {
      font-size: 16px;
      line-height: 20px;
    }

    .headerlibrary-input {
    width: 374px;
    
  }
  .headerlibrary-logoWrapper {
    width: 280px;
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
    .headerlibrary {
    background-image: url(/src/images/desktop/home-header-desktop@2x.png);
  }
}
.no-results {
  position: absolute;
  color: red;
  margin-top: 20px;
  display: none;
}
.no-results.active {
  display: block;
}
.headerlibrary-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media screen and (min-width: $tablet) {
    margin-top: -60px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -60px;
  }
}
.headerlibrary-button-list {
  display: flex;
  list-style: none;
  gap: 16px;
}
.headerlibrary-button-list-item {
  width: 129.53px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  background: inherit;
  border: 3px solid  rgba(255, 107, 1, 0.63);
  border-radius: 5px;
  color: $font-color-primary;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
    // transform: scale(1.03);
    }
  @media screen and (min-width: 768px) {
    width: 150px;
  }
}
.headerlibrary-button-list-item:hover {
  background-color: transparent;
  border: 2px solid $accent-color;
  box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
}
.headerlibrary-button-list-item:focus {
  background-color: $accent-color;
  border: 2px solid $accent-color;
}

.btn-active {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: #ff6b01;
}