.pagination {
  &-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.tui {
  &-pagination {
    display: flex;
    gap: 5px;
  }
  &-page-btn {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

  &:hover {
    border: 2px solid #ff6b08;
    box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
    border-radius: 50%;
  transition: box-shadow 250ms linear, transform 250ms linear;
    // transform: scale(1.03);
  }
  }
  &-prev-is-ellip {
    display: none;
  }
  &-next-is-ellip {
    display: none;
  }
  &-prev {
    background-image: url(/src/images/left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  &-next {
    background-image: url(/src/images/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  &-last {
    display: flex;
    background-image: url(/src/images/right-end.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  &-first {
    display: flex;
    background-image: url(/src/images/left-end.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
  &-is-selected {
    background-color: #ff6b08;
    border: 2px solid #ff6b08;
    box-shadow: 0 0 5px 5px rgba(255, 107, 1, 0.63);
    border-radius: 50%;
  }
}
body.dark .tui {
  &-prev {
    background-image: url(/src/images/left-white.svg);
  }
  &-next {
    background-image: url(/src/images/right-white.svg);
  }
  &-first {
    background-image: url(/src/images/left-end-white.svg);
  }
  &-last {
    background-image: url(/src/images/right-end-white.svg);
  }
}

//<-------------tablet & desktop------------->

@media (min-width: 768px) {
  .tui {
    &-page-btn {
      width: 40px;
      height: 40px;
      font-size: 15px;
    }
    &-last,
    &-first,
    &-prev,
    &-next {
      background-size: 20px;
    }
    &-prev-is-ellip {
      display: flex;
      &:hover {
        border: none;
        box-shadow: none;
      }
    }
    &-next-is-ellip {
      display: flex;
      &:hover {
        border: none;
        box-shadow: none;
      }
      
    }
  }
}

